/**
 * Sonatype Nexus (TM) Open Source Version
 * Copyright (c) 2008-present Sonatype, Inc.
 * All rights reserved. Includes the third-party code listed at http://links.sonatype.com/products/nexus/oss/attributions.
 *
 * This program and the accompanying materials are made available under the terms of the Eclipse Public License Version 1.0,
 * which accompanies this distribution and is available at http://www.eclipse.org/legal/epl-v10.html.
 *
 * Sonatype Nexus (TM) Professional Version is available from Sonatype, Inc. "Sonatype" and "Sonatype Nexus" are trademarks
 * of Sonatype, Inc. Apache Maven is a trademark of the Apache Software Foundation. M2eclipse is a trademark of the
 * Eclipse Foundation. All other trademarks are the property of their respective owners.
 */

.nxrm-page {
  grid-template:
    "branding-header branding-header branding-header branding-header" auto
    "global-sidebar notices notices notices" auto
    "global-sidebar header header header" auto
    "global-sidebar global-sidebar-2 old-sidebar content" 1fr
    "branding-footer branding-footer branding-footer branding-footer" auto / auto auto min(var(--nx-width-sidebar), 270px) 1fr;
  .nx-global-sidebar-2__navigation-link.nx-text-link.selected {
    background-image: none;
    background-color: var(--nx-swatch-green-30);
  }

  .nxrm-branding-header {
    grid-area: branding-header;
  }

  .nxrm-branding-footer {
    grid-area: branding-footer;
  }

  .nx-html--dark-mode & {
    .nx-text-link.selected {
      font-weight: 700;
    }
  }

  .nxrm-left-nav.closed .nxrm-navigation-expandable-link__expandable-list__item {
    display: none;
  }
}
